:root {
    --tf-dark: #212121;
    --tf-light: #ebebeb;
    --tf-darkblue: #00223d;
    --tf-highlight: #fae100;

    /* fonts */
    --tf-body-font: 'Roboto', sans-serif;

}


html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_1920.png");
    background-position: top right;
    background-repeat: no-repeat;
    font-family: var(--tf-body-font);
    color: var(--tf-light);
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content {
    flex: 1 0 auto;
}


.btn-primary {
    --bs-btn-bg: var(--tf-theme-600);
    --bs-btn-border-color: var(--tf-theme-600);
    --bs-btn-hover-bg: var(--tf-theme-700);
    --bs-btn-hover-border-color: var(--tf-theme-700);
    --bs-btn-active-bg: var(--tf-theme-800);
    --bs-btn-active-border-color: var(--tf--theme-800);
}

#homeCover {
    justify-content: start;
}



.mainTitle {
    text-transform: uppercase;
    display: flex;


}

.subTitle {
    text-transform: uppercase;
} 

.footer {
    flex-shrink: 0;
    color: var(--tf-light);
}

.nav {
    color: var(--tf-light);
}

/* # region -----MEDIA QUERIES----- */

@media (min-width: 575.98px) {
    .mainTitle {
        font-size: 7rem;
        line-height: 5.5rem;
    
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;



    }

}


@media (min-width: 767.98px) {}


@media (min-width: 991.98px) {}


@media (min-width: 1199.98px) {}


@media (min-width: 1399.98px) {}

/* # endregion ----MEDIA QUERIES */