:root {
    --tf-dark: #212121;
    --tf-light: #ebebeb;
    --tf-darkblue: #00223d;
    --tf-highlight: #fae100;

    /* fonts */
    --tf-title-font: 'Racing Sans One', sans-serif;
    --tf-subtitle-font: 'Fira Sans', sans-serif;
    --tf-heading-font: 'Bebas Neue', sans-serif;
    --tf-body-font: 'Roboto', sans-serif;

}

/* ELEMENT STYLES */
body {
    display: flex;
    flex-direction: column;
    /* background-image: url("/img/LandingPage_1920.png"); */
    background-position: top right;
    background-repeat: no-repeat;
    /* font-family: var(--tf-body-font); */
    color: var(--tf-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {}

html,
body {
    height: 100%;

}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40%; */
}


a {}

a:hover {}


/* REGOIN HOME SECTION */

#home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;

}

#homeCover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start; 
    /* align-items: center */
}

.body {
    font-family: var(--tf-body-font);
}

.mainTitle {

    /* font-family: var(--tf-subtitle-font); */
    font-family: var(--tf-title-font);
    text-rendering: ;
    text-transform: uppercase;
    /* font-size: 3rem;
    line-height: 3rem; */
}

.subTitle {
    font-family: var(--tf-subtitle-font);
    text-transform: uppercase;
    /* font-size: 1.5rem;
    line-height: 1.75rem; */

}

/* END HOME REGION */

.content {
    flex: 1 0 auto;
}


.btn-warning {
    --bs-btn-bg: var(--tf-theme-600);
    --bs-btn-border-color: var(--tf-theme-600);
    --bs-btn-hover-bg: var(--tf-theme-700);
    --bs-btn-hover-border-color: var(--tf-theme-700);
    --bs-btn-active-bg: var(--tf-theme-800);
    --bs-btn-active-border-color: var(--tf--theme-800);

}


nav.navbar {
    color: var(--tf-light);
    z-index: 2;
}

.section-page:nth-child(odd) {
    background-color: var(--tf-darkblue);
}

.section-page:nth-child(even) {
    background-color: var(--tf-darkblue);
}

footer.fixed-bottom {
    flex-shrink: 0;
    color: var(--tf-light);
}


/* # region -----MEDIA QUERIES----- */

@media (min-width: 575.98px) {
    .mainTitle {
        font-size: 3rem;
        line-height: 2.5rem;
        letter-spacing: .18rem;


    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
    }

    #home {
        background-image: url(/img/LandingPage_576.png);
    }    

    #homeCover {
        align-items: end;
    }

}



@media (min-width: 767.98px) {
    .mainTitle {
        font-size: 4rem;
        line-height: 5.5rem;
        letter-spacing: .18rem;

    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
    }

    #home {
        background-image: url(/img/LandingPage_768.png);
    }
        
    #homeCover {
        align-items: center
    }

}


@media (min-width: 991.98px) {
    .mainTitle {
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: .18rem;

    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
    }
    

    #home {
        background-image: url(/img/LandingPage_992.png);
    }
        
    #homeCover {
        align-items: center
    }

}


@media (min-width: 1199.98px) {
    .mainTitle {
        font-size: 6rem;
        line-height: 5.5rem;
        letter-spacing: .18rem;

    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
    }
    

    #home {
        background-image: url(/img/LandingPage_1200.png);
    }

    #homeCover {
        align-items: center
    }


}




@media (min-width: 1399.98px) {
    .mainTitle {
        font-size: 6rem;
        line-height: 5.5rem;
        letter-spacing: .18rem;

    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
    }
    

    #home {
        background-image: url(/img/LandingPage_1400.png);
    }

    #homeCover {
        align-items: center
    }

}




/* # endregion ----MEDIA QUERIES */